/* line 51, card.scss */
.card {
  color: #fff;
  margin: 20px auto 0 auto;
  padding: 0;
  position: relative; }
/* line 58, card.scss */
.card .card-heading {
  padding: 8px 10px 2px 10px; }
/* line 62, card.scss */
.card .card-heading .card-caption {
  font-size: 23px;
  margin-top: 4px; }
/* line 66, card.scss */
.card .card-heading .card-subcaption {
  font-size: 14px;
  float: right; }
/* line 70, card.scss */
.card .card-heading .card-body {
  margin: 0px auto;
  padding-bottom: 20px;
  text-align: center; }
