@charset "UTF-8";
@import "comps_common.scss";
@import "gs_panel.scss";


.gs_panel {
    height: $gsPanelHeight;
    color: $gsPanelColor;
    max-width: $gsPanelMax-width;
    position: $gsPanelPosition;
    @include comp_common_margins($gsPanelMargins);
    @include comp_common_paddings($gsPanelPaddings);
}

@include comp_common_listMaps(".gs_panel-title",(join($gsPanelTitleFonts,$gsPanelTitleOthers)));

