@charset "UTF-8";

////
/// Description组件公共属性和方法
/// @group comps.gs_panel
/// @author wangweihui
///
/// 

///panel高度,默认为500px
///@type Number
///
$gsPanelHeight: 510px;
///panel内容颜色,默认为白色#fff
///@type uint
///
$gsPanelColor: #fff;
///panel最大宽度,默认为360px
///@type Number
///
$gsPanelMax-width: 360px;
///panel布局,默认为relative
///@type string
///
$gsPanelPosition: relative;

///panel外边距,默认为(top: 50px,right: auto,left: auto)
///@type string
///
$gsPanelMargins:(top: 50px,right: auto,left: auto);

///panel内边距,默认为(top: 0,right: 10px,bottom: 0,left: 10px)
///@type string
///
$gsPanelPaddings:(top: 0,right: 10px,bottom: 0,left: 10px);

///panel-title 字体样式
///@type list
///
$gsPanelTitleFonts:((font-size:23px),(font-weight:bold));
///panel-title 其他属性，默认margin-top:10px,margin-bottom:0
///@type list
///
$gsPanelTitleOthers:((margin-top:10px),(margin-bottom:0));
