@charset "UTF-8";
@import "mixins.scss";



////
/// Description组件panel公共属性和方法
/// @group comps.panel
/// @author wangweihui
///
///


///panel高度,默认为500px
///@type Number
///
///
///panel内容颜色,默认为#333333
///@type uint
///
$panelColor: #333333 !default;
///panel背景颜色,默认透明
///@type String
///
$panelBackground:transparent !default;
///
///panel布局,默认为relative
///@type string
///
$panelPosition: relative !default;
///
///panel边框，默认1px solid #eeeeee;
///@type string
///
$panelBorder:1px solid #eeeeee !default;
///
///panel边框圆角，默认0;
///
$panelBorderRadius:0 !default;

///panel外边距,默认为(top: 50px,right: auto,left: auto)
///@type string
///
$panelMargins: (top:0,right: 0,left: 0);

///panel内边距,默认为(top: 0,right: 10px,bottom: 0,left: 10px)
///@type string
///
$panelPaddings: (top: 0,right: 0,bottom: 0,left: 0);
///panel其他样式
///@type string
///
$panelOthers: ();
///
///panel左边icon的样式
///@type map
///
$panelIcons: (left: 4px,position: absolute,top: 3px,color: #fff);

$panelBoxShadow: 0 1px 1px rgba(0,0,0,.05);
// -webkit-box-shadow: ;
// box-shadow: 0 1px 1px rgba(0,0,0,.05);),

///panel-title 字体样式
///@type list
///
$panelCaptionFonts: (font-size:16px,font-weight:bold);
///panel-title 其他属性，默认margin-top:10px,margin-bottom:0
///@type list
///
$panelCaptionOthers: (margin-left:22px,margin-right:15px,float: left, display: inline-block, color: #999);
//--------------------------------------------------------------------------------------
//.panel .panel-heading变量
///.panel-heading 外边距
///@type map
///
///
$panelHeadingPaddings: 10px 15px 0px 15px;
///
///.panel-heading 底部边框,默认1px,transparent
///@type string
///
///
$panelHeadingBorderBottom: 1px solid transparent;

///
///.panel-heading 左上角圆角半径,默认3px
///@type number
///
///
$panelHeadingTopLeftRadius: 3px;

///
///.panel-heading 右上角圆角半径,默认3px
///@type number
///
///
$panelHeadingTopRightRadius: 3px;
///
///.panel-body 样式
///@type number
///
///
$panelBody: ((margin: 0px auto),(padding-bottom:20px),(text-align: center));
///
///.panel tools 样式
///@type number
///
///
$panelTools: (float: right,display: inline-block);
///
///.panel tools btn样式
///@type number
///
///
$panelToolsBtn: (position: relative, border: 0 none, font-size: 18px, line-height: 18px, height: 18px, padding: 0, background-color: #fff);
///
///.panel tools angle样式
///@type number
///
///
$panelToolsAngle: (font-size: 25px, margin-top: 6px, color: #999, height: 16px, line-height: 16px, position: relative);


.panel {
    &{
        color: $panelColor;
        position: $panelPosition;
        border:$panelBorder;
        border-radius: $panelBorderRadius;
        background: $panelBackground;
        @include comp_common_margins($panelMargins);
        @include comp_common_paddings($panelPaddings);
        @include comp_common_boxShadow($panelBoxShadow);
        @include comp_common_MapMulStyles($panelOthers);
      }
    
    
    .panel-heading {
        border-bottom: $panelHeadingBorderBottom;
        padding: $panelHeadingPaddings;
        border-top-left-radius: $panelHeadingTopLeftRadius;
        border-top-right-radius: $panelHeadingTopRightRadius;
    }
    
    .panel-heading .corner > i.fa {
        @include comp_common_MapMulStyles($panelIcons);
    }
    
    .panel-heading .tools {
        @include comp_common_MapMulStyles($panelTools);
        height:30px
    }
    .panel-heading .caption
    {
        @include comp_common_MapMulStyles($panelCaptionFonts);
        @include comp_common_MapMulStyles($panelCaptionOthers);
    }
    @include comp_common_listMaps(".panel .panel-body",$panelBody);
    
    .panel-heading .tools .btn-icon {
        @include comp_common_MapMulStyles($panelToolsBtn);
    }
    
    .panel-heading .tools > a, .panel-heading .tools > .btn, .panel-heading .tools > .btn-group {
        margin-left: 15px;
    }
    .panel-heading .tools .fa-angle-up, .panel-heading .tools .fa-angle-down {
      @include comp_common_MapMulStyles($panelToolsAngle);
      margin-top: -3px;
    }
    .panel-heading .tools .fa-download {
        color: #666;
    }
    .panel-heading .corner {
      width: 15px;
    }
}



