@charset "UTF-8";
@import "mixins.scss";

////
/// Description组件panel公共属性和方法
/// @group comps.panel
/// @author wangweihui
///
///

///
///.panel内容颜色,默认为#333333
///@type uint
///
$panelColor: #333333 !default;
///.panel背景颜色,默认透明
///@type String
///
$panelBackground:transparent !default;
///
///.panel布局,默认为relative
///@type string
///
$panelPosition: relative !default;
///
///.panel边框，默认1px solid #eeeeee;
///@type string
///
$panelBorder:1px solid #eeeeee !default;
///
///.panel边框圆角，默认0;
///
$panelBorderRadius:0 !default;

///.panel外边距,默认为(top: 50px,right: auto,left: auto)
///@type map
///
$panelMargins: (top:0,right: 0,left: 0) !default;

///.panel内边距,默认为(top: 0,right: 10px,bottom: 0,left: 10px)
///@type map
///
$panelPaddings: (top: 0,right: 0,bottom: 0,left: 0) !default;
///.panel其他样式
///@type map
///
$panelOthers: () !default;
///
///.panel左边icon的样式
///@type map
///
$panelIcons: (left: 4px,position: absolute,top: 3px,color: #fff) !default;
///
///.panel box-shadow属性，默认0 1px 1px rgba(0,0,0,.05)
///@type string
///
$panelBoxShadow: 0 1px 1px rgba(0,0,0,.05) !default;

///.panel-heading .caption字体样式
///@type map
///
$panelCaptionFonts: (font-size:16px,font-weight:bold) !default;
///.panel-heading .caption属性，默认margin-left:22px,margin-right:15px,float: left, display: inline-block, color: #999
///@type list
///
$panelCaptionStyles: (margin-left:22px,margin-right:15px,float: left, display: inline-block, color: #999) !default;
///
///.panel .panel-heading .caption其他样式，用于扩展覆盖
///
$panelCaptionOthers: () !default;
//--------------------------------------------------------------------------------------
//.panel .panel-heading变量
///.panel-heading 外边距
///@type string
///
///
$panelHeadingPaddings: 10px 15px 0px 15px !default;
///
///.panel .panel-heading底部边框,默认1px,transparent
///@type string
///
///
$panelHeadingBorderBottom: 1px solid transparent !default;

///
///.panel .panel-heading 左上角圆角半径,默认3px
///@type number
///
///
$panelHeadingTopLeftRadius: 3px !default;

///
///.panel .panel-heading右上角圆角半径,默认3px
///@type number
///
///
$panelHeadingTopRightRadius: 3px !default;
///
///.panel .panel-heading其他样式，用于扩展覆盖
///@type map
///
$panelHeadingOthers: () !default;
///
///.panel .panel-body样式
///@type map
///
///
$panelBody: (margin: 0px auto,padding-bottom:20px,text-align: center) !default;
///
///.panel .panel-body其他样式，用于扩展覆盖
///@type map
///
$panelBodyOthers: () !default;

///
///.panel tools 样式
///@type map
///
///
$panelTools: (float: right,display: inline-block) !default;
///
///.panel .tools高度，默认30px
///
$panelToolsHeight: 30px !default;
///
///.panel-heading .tools其他样式，
///@type map
///
$panelToolsOthers: () !default;
///
///.panel tools btn样式
///@type map
///
///
$panelToolsBtn: (position: relative, border: 0 none, font-size: 18px, line-height: 18px, height: 18px, padding: 0, background-color: #fff) !default;
///
///.panel tools angle样式
///@type map
///
///
$panelToolsAngle: (font-size: 25px, margin-top: 6px, color: #999, height: 16px, line-height: 16px, position: relative) !default;


.panel {
    &{
        color: $panelColor;
        position: $panelPosition;
        border:$panelBorder;
        border-radius: $panelBorderRadius;
        background: $panelBackground;
        @include mixin_margins($panelMargins);
        @include mixin_paddings($panelPaddings);
        @include mixin_boxShadow($panelBoxShadow);
        @include mixin_MapMulStyles($panelOthers);
      }
    
    
    .panel-heading {
        border-bottom: $panelHeadingBorderBottom;
        padding: $panelHeadingPaddings;
        border-top-left-radius: $panelHeadingTopLeftRadius;
        border-top-right-radius: $panelHeadingTopRightRadius;
        @include mixin_MapMulStyles($panelHeadingOthers);
    }
    
    .panel-heading .corner > i.fa {
        @include mixin_MapMulStyles($panelIcons);
    }
    
    .panel-heading .tools {
        @include mixin_MapMulStyles($panelTools);
        height:$panelToolsHeight;
        @include mixin_MapMulStyles($panelToolsOthers);
    }
    .panel-heading .caption
    {
        @include mixin_MapMulStyles($panelCaptionFonts);
        @include mixin_MapMulStyles($panelCaptionStyles);
        @include mixin_MapMulStyles($panelCaptionOthers);
    }
    .panel .panel-body
    {
        @include mixin_MapMulStyles($panelBody);
        @include mixin_MapMulStyles($panelBodyOthers);
    }
    
    .panel-heading .tools .btn-icon {
        @include mixin_MapMulStyles($panelToolsBtn);
    }
    
    .panel-heading .tools > a, .panel-heading .tools > .btn, .panel-heading .tools > .btn-group {
        margin-left: 15px;
    }
    .panel-heading .tools .fa-angle-up, .panel-heading .tools .fa-angle-down {
      @include mixin_MapMulStyles($panelToolsAngle);
      margin-top: -3px;
    }
    .panel-heading .tools .fa-download {
        color: #666;
    }

}



