@charset "UTF-8";
@import "../component_common.scss";

.home .panel {
    height: 510px;
    color: #fff;
    max-width: 360px;
    //margin-left: auto;
    //margin-right: auto;
    position: relative;
    //margin-top: 50px;
    //padding: 0 10px;
    @include comp_common_margins((top: 50px,right: auto,left: auto));
    @include comp_common_paddings((top: 0,right: 10px,bottom: 0,left: 10px));
}
@include comp_common_list(".home panel_",((background:rgba(3,54,97,0.65)),(background:rgba(0,0,0,0.6)),(background:rgba(72,36,72,0.7)),(background:rgba(13,12,39,0.67))));