@charset "UTF-8";
@import "../component_common.scss";
@import "component_titlepanel.scss";


.panel {
    height: $compPanelHeight;
    color: $compPanelColor;
    max-width: $compPanelMax-width;
    position: $compPanelPosition;
    @include comp_common_margins($compPanelMargins);
    @include comp_common_paddings($compPanelPaddings);
}

@include comp_common_listMaps(".panel-title",(join($compPanelTitleFonts,$compPanelTitleMarginTop)));

