@charset "UTF-8";
//默认高度
$compPanelHeight: 500px;
//内容颜色
$compPanelColor: #fff;
//左、右、上外边距
//$compPanelMargins: (top,auto)(right,auto)(bottom,auto)(left,auto);
$compPanelMarginRight: auto;
$compPanelMarginTop: 50px;

@mixin comp_panel_margins($compPanelMarginsParam:(top,auto)(right,auto)(bottom,auto)(left,auto))
{
    @each $marginPosition,$marginValue in $compPanelMarginsParam
    {
        margin-#{$marginPosition}: $marginValue;
    }
    
}
