@charset "UTF-8";
////
/// Description组件公共属性和方法
/// @group components.component_common
/// @author wangweihui
///
/// 
/// 
/// 

///内容颜色,默认为白色 #fff
///@type Uint
$compCommonColor: #fff;
///设置外边距，默认都为0
///@parameter compCommonMarginsParam  按顺时针四个外边距的值   类型：map  默认值：(top:0,right:0,bottom:0,left:0)
///@example @include comp_common_margins();默认，即外边距都为0
///@example @include comp_common_margins((top: 10px,right: 10px,bottom: 20px,left: 5px));四个外边距都进行数值设置
///@example @include comp_common_margins((top: 10px,bottom: 20px,left: 5px));只设置其中几个外边距，其余未设置默认为0
@mixin comp_common_margins($compCommonMarginsParam:(top: 0,right: 0,bottom: 0,left: 0))
{
    @each $marginPosition,$marginValue in $compCommonMarginsParam
    {
        margin-#{$marginPosition}: $marginValue;
    }
}
///设置内边距，默认都为0
///@parameter $compCommonPaddingsParam 按顺时针四个内边距的值 类型：map  默认值：(top:0,right:0,bottom:0,left:0)
///@example @include comp_common_paddings();默认，即内边距都为0
///@example @include comp_common_paddings((top: 10px,right: 10px,bottom: 20px,left: 5px));四个内边距都进行数值设置
///@example @include comp_common_paddings((top: 10px,bottom: 20px,left: 5px));只设置其中几个内边距，其余未设置默认为0
@mixin comp_common_paddings($compCommonPaddingsParam:(top: 0,right: 0,bottom: 0,left: 0))
{
    @each $paddingPosition,$paddingValue in $compCommonPaddingsParam
    {
        padding-#{$paddingPosition}: $paddingValue;
    }
}

///
///给选择器设置N个属性值，length($compCommonParam) >1 
///@parameter $preselector CSS选择器前缀，最终生成选择器+index索引的选择器
///@parameter $compCommonParam list&lt;map&lt;string,string&gt;&gt;格式的列表
///@example @include comp_common_list(".panel_",((background:rgba(3,54,97,0.65)), (background:rgba(0,0,0,0.6))));给.panel_1,.panel_2设置背景颜色
///
@mixin comp_common_list($preselector,$compCommonParam)
{
    $num: length($compCommonParam);
    @for $index from 1 through $num
    {
        $cssObj: nth($compCommonParam,$index);
        
        @each $cssAttr,$cssValue in $cssObj
        {
            #{$preselector}#{$index}
            {
                #{$cssAttr}:$cssValue;
            }
        }
    }
}
///
///给选择器设置N个属性值
///@parameter $selector CSS选择器，
///@parameter $compCommonParam list&lt;map&lt;string,string&gt;&gt;格式的列表
///@example @include comp_common_Maps(".text",((font-size: 14px),(margin: 19px  6px)));
///
@mixin comp_common_Maps($selector,$compCommonParam)
{
     #{$selector}
     {
        $num: length($compCommonParam);
        @for $index from 1 through $num
        {
            $cssObj: nth($compCommonParam,$index);
        
            @each $cssAttr,$cssValue in $cssObj
            {
                  #{$cssAttr}:$cssValue;
            }
        }
    }
}
///
///给选择器设置单个属性值，弥补@mixin comp_common_list和@mixin comp_common_Maps属性值必须多余1个的限制
///@parameter $selector CSS选择器，
///@parameter $attrMap map&lt;string,string&gt;格式的map
///@example @include comp_common_MapAttr("table tr",(height: 40px));
///
@mixin comp_common_MapAttr($selector,$attrMap)
{
    #{$selector}
    {
         @each $cssAttr,$cssValue in $attrMap
        {
                #{$cssAttr}:$cssValue;
        }
    }
}


