@charset "UTF-8";
/* line 15, ../Base/base.scss */
body {
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑", Helvetica, sans-serif; }

/* line 145, ../Comps/panel.scss */
.panel {
  color: #333333;
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 0;
  background: transparent;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
/* line 158, ../Comps/panel.scss */
.panel .panel-heading {
  border-bottom: 1px solid transparent;
  padding: 10px 15px 0px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; }
/* line 166, ../Comps/panel.scss */
.panel .panel-heading .corner > i.fa {
  left: 4px;
  position: absolute;
  top: 3px;
  color: #fff; }
/* line 170, ../Comps/panel.scss */
.panel .panel-heading .tools {
  float: right;
  display: inline-block;
  height: 30px; }
/* line 175, ../Comps/panel.scss */
.panel .panel-heading .caption {
  font-size: 16px;
  font-weight: bold;
  margin-left: 22px;
  margin-right: 15px;
  float: left;
  display: inline-block;
  color: #999; }
/* line 181, ../Comps/panel.scss */
.panel .panel .panel-body {
  margin: 0px auto;
  padding-bottom: 20px;
  text-align: center; }
/* line 187, ../Comps/panel.scss */
.panel .panel-heading .tools .btn-icon {
  position: relative;
  border: 0 none;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 0;
  background-color: #fff; }
/* line 191, ../Comps/panel.scss */
.panel .panel-heading .tools > a, .panel .panel-heading .tools > .btn, .panel .panel-heading .tools > .btn-group {
  margin-left: 15px; }
/* line 194, ../Comps/panel.scss */
.panel .panel-heading .tools .fa-angle-up, .panel .panel-heading .tools .fa-angle-down {
  font-size: 25px;
  margin-top: 6px;
  color: #999;
  height: 16px;
  line-height: 16px;
  position: relative;
  margin-top: -3px; }
/* line 198, ../Comps/panel.scss */
.panel .panel-heading .tools .fa-download {
  color: #666; }

/*红、橙、黄、蓝、黄绿颜色的三角形状，如果需要别的颜色，覆盖即可
    例如：黄色左上三角 添加 .corner-yellow .corner-left-top
*/
/* line 7, ../Comps/corner.scss */
.corner-red:before {
  border: 0 solid red; }

/* line 11, ../Comps/corner.scss */
.corner-orange:before {
  border: 0 solid orange; }

/* line 15, ../Comps/corner.scss */
.corner-yellow:before {
  border: 0 solid yellow; }

/* line 19, ../Comps/corner.scss */
.corner-blue:before {
  border: 0 solid #0166FF; }

/* line 23, ../Comps/corner.scss */
.corner-teal:before {
  border: 0 solid #3ca470; }

/* line 26, ../Comps/corner.scss */
.corner-greenyellow:before {
  border: 0 solid #7cb342; }

/* line 29, ../Comps/corner.scss */
.corner-cyan:before {
  border: 0 solid #00bcd4; }

/* line 32, ../Comps/corner.scss */
.corner-deep-orange:before {
  border: 0 solid #bf360c; }

/* line 35, ../Comps/corner.scss */
.corner-light-blue:before {
  border: 0 solid #01579b; }

/* line 38, ../Comps/corner.scss */
.corner-light-bluea:before {
  border: 0 solid #40c4ff; }

/* line 41, ../Comps/corner.scss */
.corner-pink:before {
  border: 0 solid #d81b60; }

/* line 44, ../Comps/corner.scss */
.corner-teal-accent-4:before {
  border: 0 solid #00bfa5; }

/* line 48, ../Comps/corner.scss */
.corner-left-top, .corner-left-bottom, .corner-right-top, .corner-right-bottom {
  width: 0;
  height: 0; }

/*左上三角，默认高度和宽度为35px*/
/* line 53, ../Comps/corner.scss */
.corner-left-top:before {
  border-bottom: 35px solid transparent;
  border-left-width: 35px;
  border-right: 35px solid transparent;
  content: "";
  display: inline-block;
  left: 0px;
  position: absolute;
  top: 0px; }

/*左下三角，默认高度和宽度为$cornerWidthAndHeight*/
/* line 64, ../Comps/corner.scss */
.corner-left-bottom:before {
  border-top: 35px solid transparent;
  border-left-width: 35px;
  border-right: 35px solid transparent;
  content: "";
  display: inline-block;
  left: 0px;
  position: absolute;
  bottom: 0px; }

/*右上三角，默认高度和宽度为$cornerWidthAndHeight*/
/* line 75, ../Comps/corner.scss */
.corner-right-top:before {
  border-bottom: 35px solid transparent;
  border-left-width: 35px solid transparent;
  border-right-width: 35px;
  content: "";
  display: inline-block;
  top: 0px;
  position: absolute;
  right: 0px; }

/*右下三角，默认高度和宽度为$cornerWidthAndHeight*/
/* line 86, ../Comps/corner.scss */
.corner-right-bottom:before {
  border-top: 35px solid transparent;
  border-left-width: 35px solid transparent;
  border-right-width: 35px;
  content: "";
  display: inline-block;
  right: 0px;
  position: absolute;
  bottom: 0px; }

/* line 76, ../Comps/card.scss */
.card {
  background: transparent;
  color: #fff;
  position: relative;
  margin: 20px auto 0 auto;
  padding: 0; }
/* line 85, ../Comps/card.scss */
.card .card-heading {
  padding: 8px 10px 2px 10px; }
/* line 90, ../Comps/card.scss */
.card .card-heading .card-caption {
  font-size: 23px;
  margin-top: 4px; }
/* line 95, ../Comps/card.scss */
.card .card-heading .card-subcaption {
  font-size: 14px;
  float: right; }
/* line 100, ../Comps/card.scss */
.card .card-heading .card-body {
  margin: 0px auto;
  padding-bottom: 20px;
  text-align: center; }

/* line 12, theme_default.scss */
body {
  color: #808080;
  background-color: #fff; }

/* line 18, theme_default.scss */
.ui-widget-content {
  border: 0;
  background: transparent; }
