@charset "UTF-8";

//默认字体颜色
$defaultFontColor: #808080;
//默认背景颜色
$defaultBackgroundColor: rgba(#000,.2);

//--------------------------card start ------------------
$cardBackground:rgba(#000,.2);
$cardOthers:(box-shadow:(0 1px 1px rgba(0,0,0,.3)));
$cardColor:#7b1fa2;
//--------------------------card end --------------------
//--------------------------panel start -----------------
$panelBackground:rgba(#000,.2);
$panelColor:#7b1fa2;
$panelCaptionStyles: (margin-left:22px,margin-right:15px,float: left, display: inline-block, color: #fff) !default;

//$panelCaptionOthers:(color:#fff);
$panelOthers:(border-radius:5px,border:0);
//--------------------------panel end -------------------

@import "../Comps/mixins.scss";
@import "../Base/base.scss";
@import "../Comps/panel.scss";
@import "../Comps/corner.scss";
@import "../Comps/card.scss";

body
{
    color: $defaultFontColor;
    background-color: $defaultBackgroundColor;
}
/////////////////覆盖jqueryui内置样式//////////
.ui-widget-content {
  border: 0;
  background: transparent;
}
/*-----------------------------------common start------------------------*/
.titleSection
{
    text-align: center;
}
.titleSection h2
{
    display: inline-block;
}
.titleSection input
{
    line-height: 30px;
}
/*-----------------------------------common end ------------------------*/