@charset "UTF-8";

//----------------------------------------- 字体 start ---------------------------------------
//默认字体大小
$baseFontSize: 14px;
//默认字体粗细
$baseFontWeight: normal;
//默认字体家族
$baseFontFamily: "微软雅黑",Helvetica,sans-serif;
//----------------------------------------- 字体 end -----------------------------------------

//----------------------------------------- 初始化布局 start ----------------------------------
$baseMargin: 0;
$basePadding: 0;
$clear: both;


//----------------------------------------- 初始化布局 end ----------------------------------
