@charset "UTF-8";
////
/// Description公共基础属性和方法
/// @group base
/// @author wangweihui
///

//----------------------------------------- 字体 start ---------------------------------------
//默认字体大小
$baseFontSize: 14px !default;
//默认字体家族
$baseFontFamily: "Microsoft YaHei","微软雅黑",Helvetica,sans-serif !default;
//----------------------------------------- 字体 end -----------------------------------------

body
{
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
}