@charset "UTF-8";
////
/// Description公共基础属性和方法
/// @group base
/// @author wangweihui
///

//----------------------------------------- 字体 start ---------------------------------------
//默认字体大小
$baseFontSize: 14px;
//默认字体家族
$baseFontFamily: "Microsoft YaHei","微软雅黑",Helvetica,sans-serif;
//----------------------------------------- 字体 end -----------------------------------------

///box-sizing为border-box
///@example @include base_border_box();
@mixin base_border_box()
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
//-------------------------------   
//box-shadow可以有多组值，所以在变量参数后面添加...
@mixin base_box-shadow($shadow...) {
  -webkit-box-shadow:$shadow;
  box-shadow:$shadow;
}

body
{
    font-size: $baseFontSize;
    font-family: $baseFontFamily;
}